html {
  height: 100%;
}

body{
  background-image: url('../images/error404.png'),linear-gradient(to bottom, #05007A, #4D007D);
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  overflow: hidden;
}
