@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/

@font-face
{
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Medium.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Rubik_Bold';
	src: url('../fonts/Rubik-Bold.ttf')  format('truetype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: linear-gradient(to bottom, #000000 0%, #1b1b1b 40%);
	color: #FFFFFF;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 2.18;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(255,255,255,0.07);
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_subtitle
{
	font-size: 18px;
	line-height: 0.75;
}
.section_title
{
	margin-top: 7px;
	margin-left: -2px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #000000;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	background: rgba(0,0,0,0.85);
}
.header_content
{
	width: 100%;
	height: 50px;
	padding-left: 51px;
	padding-right: 52px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 70px;
}
.logo
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 51px;
}
.logo a
{
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
}
.log_reg
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 52px;
}
.log_reg ul li
{
	position: relative;
}
.log_reg ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 6px;
	margin-right: 6px;
}
.log_reg ul li a
{
	font-size: 14px;
	color: #FFFFFF;
}
.log_reg ul li a:hover
{
	color: #de4f33;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 24px;
}
.main_nav ul li
{
	position: relative;
}
.main_nav ul li a
{
	position: relative;
	font-size: 16px;
	color: #FFFFFF;
	padding-left: 26px;
	padding-right: 23px;
	z-index: 1;
}
.main_nav ul li a::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 100%;
	height: 17px;
	background: #f96754;
	content: '';
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.main_nav ul li.active a::after,
.main_nav ul li a:hover::after
{
	bottom: -5px;
	visibility: visible;
	opacity: 1;
}
.hamburger
{
	display: none;
	width: 50px;
	height: 24px;
	cursor: pointer;
	padding: 5px;
	right: -5px;
}
.hamburger > div
{
	width: 100%;
	height: 100%;
}
.hamburger > div > div
{
	height: 2px;
	background: #FFFFFF;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.hamburger > div > div:first-child
{
	width: 90%;
}
.hamburger > div > div:nth-child(2)
{
	width: 50%;
}
.hamburger > div > div:nth-child(3)
{
	width: 70%;
}
.hamburger:hover > div > div
{
	width: 100%;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.menu_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.45);
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu > div
{
	width: 100%;
	height: 100%;
}
.menu_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -300px;
	width: 300px;
	-webkit-transition: all 1000ms 600ms ease;
	-moz-transition: all 1000ms 600ms ease;
	-ms-transition: all 1000ms 600ms ease;
	-o-transition: all 1000ms 600ms ease;
	transition: all 1000ms 600ms ease;
}
.menu.active .menu_container
{
	right: 0;
}
.menu_log_reg
{
	display: none;
	width: 100%;
	background: #000000;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 5px;
	border-bottom: solid 2px #de4f32;
}
.menu_log_reg a
{
	font-size: 14px;
	color: #FFFFFF;
}
.menu_log_reg a:hover
{
	color: #de4f32;
}
.menu_log_reg ul li
{
	position: relative;
}
.menu_log_reg ul li:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 6px;
	margin-right: 6px;
}
.menu_nav
{
	width: 100%;
	background: #000000;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: solid 5px #de4f32;
}
.menu_nav ul li
{
	position: relative;
}
.menu_nav ul li a:hover::before
{
	left: 100%;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 5px;
}
.menu_nav ul li a
{
	display: block;
	position: relative;
	font-size: 20px;
	color: #FFFFFF;
	overflow: hidden;
}
.menu_nav ul li a::before
{
	display: block;
	position: absolute;
	top: 50%;
	left: -100%;
	width: 100%;
	height: 2px;
	background: #FFFFFF;
	content: '';
	-webkit-transition: all 400ms 200ms ease;
	-moz-transition: all 400ms 200ms ease;
	-ms-transition: all 400ms 200ms ease;
	-o-transition: all 400ms 200ms ease;
	transition: all 400ms 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #de4f32;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 384px;
	padding-left: 51px;
	padding-right: 52px;
}
.home_inner
{
	width: 100%;
	height: 100%;
}
.home_container
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 89px;
}
.home_subtitle
{
	font-size: 18px;
	line-height: 0.75;
}
.home_title
{
	font-size: 82px;
	line-height: 0.75;
	margin-top: 14px;
	white-space: nowrap;
}

/*********************************
6. Contact
*********************************/

.contact
{
	padding-top: 101px;
	padding-bottom: 105px;
}
.contact_title
{
	font-size: 36px;
	color: #FFFFFF;
	line-height: 1.2;
}
.contact_form
{
	display: block;
	width: 100%;
	margin-top: 59px;
}
.contact_input
{
	position: relative;
	width: 100%;
	height: 50px;
	background: #343434;
	border: none;
	outline: none;
	padding-left: 25px;
	border-bottom: solid 3px transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_input:hover,
.contact_input:focus
{
	border-bottom: solid 3px #f96754;
}
.contact_textarea
{
	height: 161px;
	padding-top: 18px;
}
.contact_form input:not(:last-child)
{
	margin-bottom: 20px;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.contact_button
{
	width: 173px;
	height: 50px;
	background: #f96754;
	color: #FFFFFF;
	font-size: 14px;
	border: solid 3px #ffffff;
	outline: none;
	cursor: pointer;
	margin-top: 39px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover
{
	background: transparent;
	color: #f96754;
}
.contact_text
{
	margin-top: 30px;
}
.contact_info_list
{
	margin-top: 84px;
	padding-left: 13px;
}
.contact_info_list ul li
{
	font-size: 16px;
	color: #aaaaaa;
}
.contact_info_list ul li:not(:last-of-type)
{
	margin-bottom: 24px;
}
.contact_info_list ul li > div:first-child > div
{
	width: 96px;
	color: #de4f32;
}
.social
{
	margin-top: 42px;
	left: -5px;
	padding-left: 13px;
}
.social ul li:not(:last-of-type)
{
	margin-right: 26px;
}
.social ul li a i
{
	font-size: 15px;
	padding: 5px;
	color: #de4f32;
}
.social ul li a i:hover
{
	color: #FFFFFF;
}

/*********************************
7. Footer
*********************************/

.footer
{
	background: #000000;
	padding-left: 50px;
	padding-right: 51px;
	text-align: center;
}
.newsletter_container
{
	width: 604px;
	padding-top: 103px;
}
.newsletter_form
{
	display: block;
	position: relative;
	width: 100%;
	margin-top: 30px;
}
.newsletter_input
{
	width: 100%;
	height: 50px;
	background: #545454;
	border: none;
	outline: none;
	padding-left: 23px;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 139px;
	height: 50px;
	background: #de4f32;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
}
.footer_lists
{
	width: 575px;
	padding-top: 83px;
	padding-bottom: 5px;
}
.footer_list
{
	width: calc(100% / 3);
}
.footer_list_title
{
	font-size: 24px;
}
.footer_list ul
{
	margin-top: 23px;
}
.footer_list ul li:not(:last-of-type)
{
	margin-bottom: 9px;
}
.footer_list ul li a
{
	font-size: 14px;
	color: #6d6d6d;
}
.footer_list ul li a:hover
{
	color: #FFFFFF;
}
.copyright_bar
{
	width: 100%;
	height: 67px;
	background: #000000;
}
.copyright_bar span
{
	font-size: 14px;
	color: #6d6d6d;
	line-height: 67px;
}

.modal-open {
	overflow: hidden
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: .5rem;
	pointer-events: none
}
.modal.fade .modal-dialog {
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px)
}
@media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		transition: none
	}
}
.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none
}
.modal-dialog-scrollable {
	display: -ms-flexbox;
	display: flex;
	max-height: calc(100% - 1rem)
}
.modal-dialog-scrollable .modal-content {
	max-height: calc(100vh - 1rem);
	overflow: hidden
}
.modal-dialog-scrollable .modal-footer, .modal-dialog-scrollable .modal-header {
	-ms-flex-negative: 0;
	flex-shrink: 0
}
.modal-dialog-scrollable .modal-body {
	overflow-y: auto
}
.modal-dialog-centered {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - 1rem)
}
.modal-dialog-centered:before {
	display: block;
	height: calc(100vh - 1rem);
	content: ""
}
.modal-dialog-centered.modal-dialog-scrollable {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
	max-height: none
}
.modal-dialog-centered.modal-dialog-scrollable:before {
	content: none
}
.modal-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0
}
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000
}
.modal-backdrop.fade {
	opacity: 0
}
.modal-backdrop.show {
	opacity: .5
}
.modal-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem
}
.modal-header .close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto
}
.modal-title {
	margin-bottom: 0;
	line-height: 1.5
}
.modal-body {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem
}
.modal-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 1rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: .3rem;
	border-bottom-left-radius: .3rem
}
.modal-footer > :not(:first-child) {
	margin-left: .25rem
}
.modal-footer > :not(:last-child) {
	margin-right: .25rem
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto
	}
	.modal-dialog-scrollable {
		max-height: calc(100% - 3.5rem)
	}
	.modal-dialog-scrollable .modal-content {
		max-height: calc(100vh - 3.5rem)
	}
	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem)
	}
	.modal-dialog-centered:before {
		height: calc(100vh - 3.5rem)
	}
	.modal-sm {
		max-width: 300px
	}
}
@media (min-width: 992px) {
	.modal-lg, .modal-xl {
		max-width: 800px
	}
}
@media (min-width: 1200px) {
	.modal-xl {
		max-width: 1140px
	}
}
.img-icon {
    height: 50px;
    margin: 10px;
    margin-top: 0;
}
img, svg {
    vertical-align: middle;
}
.eye{
	width: 20px; height: 8px;
	background-color: rgba(240,220,220,1);
	border-radius:0px 0px 20px 20px;
	position: relative;
	left: 10px; top: 40px;
	box-shadow:  40px 0px 0px 0px rgba(240,220,220,1);              
  }
  
  .head{
	-webkit-backface-visibility: hidden;
	position: relative;
	margin: -250px auto;
	width: 80px; height: 80px;
	background-color: #111;
	border-radius:50px;
	box-shadow: inset -4px 2px 0px 0px rgba(240,220,220,1);
	-webkit-animation:headAnim 1.5s infinite alternate;
	-webkit-animation-timing-function:ease-out;
  }
  
  .body{ 
	position: relative;
	margin: 90px auto;
	width: 140px; height: 120px;
	background-color: #111;
	border-radius: 50px/25px ;
	box-shadow: inset -5px 2px 0px 0px rgba(240,220,220,1);
	-webkit-animation:bodyAnim 1.5s infinite alternate;
	-webkit-animation-timing-function:ease-out;  
  }
  
	@-webkit-keyframes headAnim{
		   0%{ top:0px; }
		   50%{ top:10px; }
		   100% { top:0px;} 
	}
  
	@-webkit-keyframes bodyAnim{
		   0%{ top:-5px; }
		   50%{ top:10px; }
		   100% { top:-5px;} 
	}
  
  .circ{
	-webkit-backface-visibility: hidden;
	margin: 60px auto;
	width: 180px; height: 180px;
	background-color: #111;
	border-radius: 0px 0px 50px 50px;
	position: relative;
	z-index: -1;  
	left: 0%; top: 20%;
	overflow: hidden;
  }
  
  .hands{
	-webkit-backface-visibility: hidden;
	margin-top: 140px;
	width: 120px;height: 120px;
	position: absolute;
	background-color: #111;
	border-radius:20px;
	box-shadow:-1px -4px 0px 0px rgba(240,220,220,1);
	-webkit-transform:rotate(45deg);
	top:75%;left: 16%;
	z-index: 1;
	-webkit-animation:bodyAnim 1.5s infinite alternate;
	-webkit-animation-timing-function:ease-out;
  }
  
  .load{  
	position: absolute;
	width: 7ch; height: 32px;
	text-align: left;
	line-height: 32px;
	margin: -10px auto;
	-webkit-font-smoothing: antialiased;
	font-family: 'Julius Sans One', sans-serif;
	font-size:28px;
	font-weight:400;
	color:rgba(240,220,220,1);
	left: 2%; top: 5%;
	-webkit-animation:fontAnim 3.75s infinite;
	-webkit-animation-timing-function:ease-out;
	word-wrap: break-word;
	display:block;
	overflow: hidden;
  }
  
	@-webkit-keyframes fontAnim{
		  0%{ width:7ch; }
		 16%{ width:8ch; }
		 32%{ width:9ch; }
		 48%{ width:10ch; }
		 64%{ width:11ch; }
		 80%{ width:12ch; }
	   100% { width:13ch;} 
	}